{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
  <div style="height: 70px;display: flex;align-items: center;"><h2>Spese</h2><a href="{% url 'expense_new' %}" class="btn btn-success" style="margin-left:20px;">Nuova Spesa</a></div>
  <table class="table">
    <thead>
      <tr>
        <th>Importo</th>
        <th>Data</th>
        <th>Categoria</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expenses %}
        <tr>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.date }}</td>
          <td>{{ expense.category }}</td>
          <td>
            <a href="{% url 'expense_show' expense.pk %}" class="btn btn-primary">Visualizza</a>
            <a href="{% url 'expense_edit' expense.pk %}" class="btn btn-primary">Modifica</a>
            <a href="{% url 'expense_delete' expense.pk %}" class="btn btn-danger">Elimina</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Nessuna spesa trovata.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}